@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowing {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-glowing {
    background-size: 200% 200%;
    animation: glowing 4s linear infinite;
  }

  /* Animasi Modal */
  .transform {
    transition: transform 0.3s ease-in-out;
  }